body{
margin: 0;
}
.bg {
   
    text-align: center;
    height: 100vh;
    background-image: url(../image/fantasy-style-scene-with-mountains-landscape.jpg);
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-family: Impact;
color:#0C294C ;

}
button {
    width: 250px;
    height: 80px;
    background-color:#008000ac;
    color: white;
    border-radius: 25px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p{
    font-size: 35px;
    color: #0C294C;
}

button:hover{
    background-color:  #0000ff75;
   
    
}
